<!DOCTYPE html>
<html lang="en">

<link href="/static/css/style.css" rel="stylesheet" type="text/css" />

<title>insta485</title>

...

<body>
    <!-- Plain old HTML and jinja2 nav bar goes here -->
    <div class="topleft">

        <a href="/">
            <img src="/static/images/logo.png" alt="insta-logo" style="width: 75px" />
            <br>
            Back to Home
        </a>

    </div>

    <div class="topright">

        <a href="/explore/">
            Explore
        </a>
        |
        <a href="/users/{{ logname }}/">
            {{ logname }}
        </a>
    </div>

    <div id="reactEntry">
        Loading ...
    </div>
    <!-- Load JavaScript -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/bundle.js') }}"></script>
</body>

...

</html>